In [1]:
# Python Basic Exercise for Beginners

In [2]:
# Exercise 1: Calculate the multiplication and sum of two numbers
   # Given two integer numbers return their product only if the product is greater than 1000, else return their sum
def mul_or_sum(num1,num2):
    product=(num1*num2)
    if product<=1000:
        return product
    else:
        return num1+num2

# first condition
x = mul_or_sum(50, 30)
print("The result is", x)

# Second condition
x = mul_or_sum(10, 30)
print("The result is", x)

The result is 80
The result is 300

In [3]:
# Exercise 2: Print the sum of the current number and the previous number
print("Printing current and previous number and their sum in a range(10)")

previous_num=0
for i in range(1,11):
    current_num=previous_num+i
    print("current number",i,"previous number",previous_num,"sum:-",i+previous_num)
    previous_num=i

Printing current and previous number and their sum in a range(10)
current number 1 previous number 0 sum:- 1
current number 2 previous number 1 sum:- 3
current number 3 previous number 2 sum:- 5
current number 4 previous number 3 sum:- 7
current number 5 previous number 4 sum:- 9
current number 6 previous number 5 sum:- 11
current number 7 previous number 6 sum:- 13
current number 8 previous number 7 sum:- 15
current number 9 previous number 8 sum:- 17
current number 10 previous number 9 sum:- 19

In [9]:
# Exercise 3: Print characters from a string that are present at an even index number
word="Amol D"
size=len(word)

print("printing only even char")
for i in range(0,size):
    if i%2==0:
        print(word[i])
        
print("printing only odd char")
for i in range(0,size):
    if i%2!=0:
        print(word[i])

printing only even char
A
o

printing only odd char
m
l
D

In [16]:
# Exercise 4: Remove first n characters from a string

def remove_char(word,n):
    print('Original string:', word)
    x = word[n:]
    return x

word="Amol-Daund"
n=int(input("Enter n characters:- "))
print(remove_char(word,n))

Enter n characters:- 4
Original string: Amol-Daund
-Daund

In [15]:
# Exercise 5: Check if the first and last number of a list is the same
x=[10,20,30,40,10]
if x[0]==x[-1]:
    print("first and last number of a list is same")
else:
    print("first and last number of a list is not same")

first and last number of a list is same

In [35]:
# Exercise 6: Display numbers divisible by 5 from a list
x=[10,23,45,68,233,400]
for i in x:
    if i%5==0:
        print(i)

10
45
400

In [38]:
# Exercise 7: Return the count of a given substring from a string
x = "Emma is good developer. Emma is a writer"
a=x.count("Emma")
print(a)

#---------------------------------

x = "Emma is good developer. Emma is a writer"
y=x.split(" ")
z = set(y)
print(y)

for i in z:
    c=0
    for j in y:
        if i==j:
            c=c+1
    print(i,"occoured",c,"times")

2
['Emma', 'is', 'good', 'developer.', 'Emma', 'is', 'a', 'writer']
Emma occoured 2 times
a occoured 1 times
good occoured 1 times
developer. occoured 1 times
is occoured 2 times
writer occoured 1 times

In [26]:
# Exercise 8: Print the following pattern
#n=int(input("Enter how many rows you want to print"))
for R in range(6):
    for C in range(R):
        print(R,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
# Exercise 9: Check Palindrome Number
x=input("Enter number")
if (x==x[::-1]):
    print(x, "number is palindrome")
else:
    print(x, "number is not palindrome")

    # or
x=121
rev_num=0
while x>0:
    digit=x%10
    rev_num = (rev_num * 10) + x
    x=x//10
if x == rev_num:
    print("Given number palindrome")
else:
    print("Given number is not palindrome")

    # or

x=input("Check Palindrome Number : ")

if x==x[::-1]:
    print("Original Number: {0} \nYes. Given Number is palindrome number.".format(x))
else:
    print("Original Number: {0} \nNo. Given Number is not palindrome number.".format(x))

Enter number12
12 number is not palindrome
Given number is not palindrome
Check Palindrome Number : 121
Original Number: 121
Yes. Given Number is palindrome number.

In [ ]:
# Exercise 10: Create a new list from a two list using the following condition
 # the new list should contain odd numbers from the first list and even numbers from the second list.
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
list=[]
for k in list1:
    if k%2!=0:
        list.append(k)
for k in list2:
    if k%2==0:
        list.append(k)
print(list)

In [3]:
# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
a = 78459
a = str(a)
for i in range(len(a)-1,-1,-1):
    print(a[i],end=' ')

9 5 4 8 7

In [24]:
# Exercise 13: Print multiplication table form 1 to 10

for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [25]:
# Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

def exponent(base, exp):
    calculate = base**exp
    return calculate

base = int(input('Enter the base: '))
exp = int(input('Enter the exponent: '))

print('The answer is', exponent(base, exp))

Enter the base: 2
Enter the exponent: 3
The answer is 8

In [31]:
# Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

for i in range(6,0,-1):
    print('* ' * i)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
# Python Input and Output Exercise:-



# Exercise 1: Accept numbers from a user:-
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

res = num1 * num2
print("Multiplication is", res)

Enter first number 12
Enter second number 12
Multiplication is 144

In [9]:
# Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
x="My","Name","is","Amol"
print(*x,sep="**")

My**Name**is**Amol

In [3]:
# Exercise 3: Convert Decimal number to octal using print() output formatting
x=28
print('%o' % x)  # % o - octal number base

34

In [43]:
# Exercise 4: Display float number with 2 decimal places using print()

num = 458.541315
print('%.2f' % num)

458.54

In [25]:
# Exercise 5: Accept a list of 5 float numbers as an input from the user

number=[]
# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    number.append(item)

print("User List:", number)

Enter number at location 0 :
12.2
Enter number at location 1 :
13214.34
Enter number at location 2 :
3224.421
Enter number at location 3 :
12423.132
Enter number at location 4 :
321.3
User List: [12.2, 13214.34, 3224.421, 12423.132, 321.3]

In [47]:
# Exercise 7: Accept any three string from one input() call

x,y,z=input("Enter three strings by using space in between!").split()
print("Name1:", x)
print("Name2:", y)
print("Name3:", z)

Enter three strings by using space in between!akdhd hfhhf kfdhfHJ
Name1: akdhd
Name2: hfhhf
Name3: kfdhfHJ

In [4]:
# if else, for loop, and range() Exercises with Solutions:-

# Exercise 1: Print First 10 natural numbers using while loop:-
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Exercise 2: Print the following pattern:-
n=int(input("Enter Number"))
for R in range(1,n+1):
    for C in range(R+1):
        print(C,end=" ")
    print()

In [22]:
# Exercise 3: Calculate the sum of all numbers from 1 to a given number
n=int(input("Enter Number"))
print(sum(range(1,n+1)))

Enter Number10
55

In [26]:
# Exercise 4: Write a program to print multiplication table of a given number:-
n=int(input("Enter Number"))
for i in range(1,11):
    mul=n*i
    print(mul)

Enter Number2
2
4
6
8
10
12
14
16
18
20

In [38]:
# Exercise 5: Display numbers from a list using loop:-

# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the next number
# If the number is greater than 500, then stop the loop


L=[12, 75, 150, 180, 145, 525, 50]
for i in L:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

In [42]:
# Exercise 6: Count the total number of digits in a number:-
n=int(input("Enter Number"))
count=1
while n!=0:
    n=n//10
    count=count+1
print(count)

Enter Number56
3

In [54]:
# Exercise 7: Print the following pattern
n=int(input("Enter Number"))
for R in range(0,n+1):
    for C in range(n-R,0,-1):
        print(C,end=" ")
    print()

Enter Number5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [70]:
# Exercise 8: Print list in reverse order using a loop:-
L= [10, 20, 30, 40, 50]
R=reversed(L)
for i in R:
    print(i)
    
 # or

L= [60, 70, 80, 90, 100]
R=len(L)-1
for i in range(R,-1,-1):
    print(L[i])

# get list size
# len(list1) -1: because index start with 0
# iterate list in reverse order
# star from last item to first

50
40
30
20
10
100
90
80
70
60

In [101]:
# Exercise 9: Display numbers from -10 to -1 using for loop:-

for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [103]:
# Exercise 10: Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
else:
    print("Done")

0
1
2
3
4
Done

In [108]:
# Exercise 11: Write a program to display all prime numbers within a range:-
start = 25
end = 50
for i in range(start,end-1):
    if i>1:
        for j in range(2,i):
            if (i%j)==0:
                break
        else:
            print(i)

29
31
37
41
43
47

In [122]:
# Exercise 12: Display Fibonacci series up to 10 terms:

num1,num2=0,1
for i in range(1,11):
    print(num1,end=" ")
    res=num1+num2
    num1=num2
    num2=res

0 1 1 2 3 5 8 13 21 34

In [133]:
# Exercise 13: Find the factorial of a given number: 
n=int(input("Enter number"))
facto=1
if n < 0:
    print("Factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,n+1):
        facto=facto*i
    print(facto)

Enter number5
120

In [16]:
# Exercise 14: Reverse a given integer number
n=5273538
sn=str(n)
print(sn[::-1])

s="Python"
print(''.join(reversed(s)))


# Exercise 14,1: Program to reverse order of words.


s="Learning Python is very Easy"
x=s.split()
print(x)
l1=[]
i=len(x)-1
while i>=0:
    l1.append(x[i])
    i=i-1
output=' '.join(l1)
print(output)


# Q3. Program to reverse internal content of each word.

s="Durga Software Solutions"
l=s.split()
l1=[]
i=0
while i<len(l):
    l1.append(l[i][::-1])
    i=i+1
output=' '.join(l1)
print(output)

# Q4. Write a program to print characters at odd position and even position for the given String?

s=input("Enter Some String:")
print("Characters at Even Position:",s[0::2])
print("Characters at Odd Position:",s[1::2])

8353725
nohtyP
['Learning', 'Python', 'is', 'very', 'Easy']
Easy very is Python Learning
agruD erawtfoS snoituloS
Enter Some String:amol daund
Characters at Even Position: ao an
Characters at Odd Position: mldud

In [29]:
# Q1. Program to merge characters of 2 strings into a single string by taking characters alternatively.
s1=input("Enter First String:")
s2=input("Enter Second String:")
output=''
i,j=0,0
while i<len(s1) or j<len(s2):
    if i<len(s1):
        output=output+s1[i]
        i+=1
    if j<len(s2):
        output=output+s2[j]
        j+=1
print(output)



# Q9. Write a program to remove duplicate characters from the given input string?:-

x='ABDQJHFFEABD'
l=[]
for i in x:
    if i not in l:
        l.append(i)
output=''.join(l)   
print(output)

Enter First String:asf
Enter Second String:dsg
adssfg
ABDQJHFE

In [33]:
# Formatting the Strings:
# Case- 1: Basic Formatting for default, positional and keyword arguments

name='durga'
salary=10000
age=48
print("{} 's salary is {} and his age is {}".format(name,salary,age))

# Case-2: Formatting Numbers:- 

# d--->Decimal IntEger
# f----->Fixed point number(float).The default precision is 6
# b-->Binary format
# o--->Octal Format
# x-->Hexa Decimal Format(Lower case)
# X-->Hexa Decimal Format(Upper case)

print("The intEger number is: {}".format(123))     
print("The intEger number is: {:d}".format(123))
print("The intEger number is: {:5d}".format(123))
print("The intEger number is: {:05d}".format(123))

print("The float number is: {}".format(123.4567))
print("The float number is: {:f}".format(123.4567))
print("The float number is: {:8.3f}".format(123.4567))
print("The float number is: {:08.3f}".format(123.4567))
print("The float number is: {:08.3f}".format(123.45))
print("The float number is: {:08.3f}".format(786786123.45))

# Eg-3: Print Decimal value in binary, octal and hexadecimal form

print("Binary Form:{0:b}".format(153))
print("Octal Form:{0:o}".format(153))
print("Hexa decimal Form:{0:x}".format(154))
print("Hexa decimal Form:{0:X}".format(154))

durga 's salary is 10000 and his age is 48
The intEger number is: 123
The intEger number is: 123
The intEger number is:   123
The intEger number is: 00123
The float number is: 123.4567
The float number is: 123.456700
The float number is:  123.457
The float number is: 0123.457
The float number is: 0123.450
The float number is: 786786123.450

In [6]:
# Exercise 15: Use a loop to display elements from a given list present at odd index positions:
L = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in L[1:-1:2]:     # or [1::2]
    print(i,end=",")

20,40,60,80,

In [190]:
# Exercise 16: Calculate the cube of all numbers from 1 to a given number:-
n=int(input("Enter Number:- "))
if n<1:
    print("Invalid Number")
else:
    for i in range(1,n+1):
        print(i**3)
        i+=1

Enter Number:- 5
1
8
27
64
125

In [248]:
# Exercise 18: Print the following pattern:
n=5
for R in range(1,n+1):
    for C in range(R):
        print("#",end=" ")
    print()   
n=n-1    
for R in range(n):
    for C in range(n-R):
        print("#",end=" ")
    print()

#
# #
# # #
# # # #
# # # # #
# # # #
# # #
# #
#