In [2]:
# The way to run a python file in cmd:
# C:\C:\Users\AmolDaund\AppData\Local\Programs\Python Test.py
# •	Where "Test.py" is the name of your python file. Note pad file of extension is .py
# •	Whenever you are done in the python command line, you can simply type the py
# •	py – V (Python version)

Hello, World!

In [ ]:
# Multi-Line Comments
# You can assign a multiline string to a variable by using three quotes Or three single quotes.
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [ ]:
# Mutable data types in Python are list, dictionary, set and user-defined classes.

# On the other hand, immutable data types includes int, float, decimal, bool, string, tuple, and range.

In [3]:
# Single or Double Quotes?
# String variables can be declared either by using single or double quotes:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [9]:
# 	Variables
# Variables are containers for storing data values. 
# Python has no command for declaring a variable.
# Variable names are case-sensitive
# Variable is container where you can put values
# a = 4
# A = "Sally"
# A (Sally) will not overwrite a = 4 

# Creating Variables :- Python has no command for declaring a variable.
# A variable is created the moment you first assign a value to it.

# Example
x = 5
y = "John"
print(x)
print(y)

x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)


# Casting:- If you want to specify the data type of a variable, this can be done with casting.

# Example
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(type(x))
print(type(y)) 
print(type(z))

5
John
Sally
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Variable Names
# A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

# Rules for Python variables:
# •	A variable name must start with a letter or the underscore character
# •	A variable name cannot start with a number
# •	A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
# •	Variable names are case-sensitive (age, Age and AGE are three different variables)
# •	We can’t use reserved words. (e.g. True, List, if, else, Total 33 reserved words)

    # •	Legal variable names:
    # myvar = "John"
    # my_var = "John"
    # _my_var = "John"
    # myVar = "John"
    # MYVAR = "John"
    # myvar2 = "John"

    # •	Illegal variable names:
    # 2myvar = "John"
    # my-var = "John"
    # my var = "John"

In [ ]:
# Multi Words Variable Names:-

# Variable names with more than one word can be difficult to read.
# There are several techniques you can use to make them more readable:

# Camel Case
# Each word starts with a capital letter except the first:
# myVariableName = "John"

# Pascal Case
# Each word starts with a capital letter:
# MyVariableName = "John"
# ________________________________________
# Snake Case
# Each word is separated by an underscore character:
# my_variable_name = "John"

In [1]:
# Assign Multiple Values
# Many Values to Multiple Variables
# Python allows you to assign values to multiple variables in one line:
# Example
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

            # Note: Make sure the number of variables matches the number of values, or else you will get an error.

# One Value to Multiple Variables
# And you can assign the same value to multiple variables in one line:
# Example
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange

In [5]:
# Output Variables:- In the print() function, you output multiple variables, separated by a comma:
# Example
x = "Python"
y = "3"            # 3
z = "awesome"
print(x, y, z)
print(x+y+z)

# The best way to output multiple variables in the print() function is to separate them with commas,
    # which even support different data types:

Python 3 awesome
Python3awesome

In [8]:
#P1 

print('Brain Works') # Strings in python are surrounded by either single quotation marks, or double quotation marks.
                       # 'Brain Works' is the same as "Brain Works".
    
addition = 10 + 20 + \
           30 + 40 + \
           50 + 60 + 70    # continuation character (\)

print(addition)

addition = (10 + 20 +      
           30 + 40 + 
           50 + 60 + 70)
print(addition) 

# The import statement is used to import modules. We can also import individual classes from a module.
import datetime

# get current datetime
x = datetime.datetime.now()
print(x)

Brain Works
280
280
2022-07-11 19:11:53.921979

In [2]:
#P2 Indentation:-

if 20>10:
    print("Twenty is greter than Ten!") # Indentation It is the thing which is used to tell your machine that we are
                                          # inside the statement or inside the block.

Twenty is greter than Ten!

In [8]:
# Base Conversions:-

# 1.bin(): We can use bin() to convert from any base to binary

print(bin(15))
print(bin(0o11))
print(bin(0X10))

# 2. oct(): We can use oct() to convert from any base to octal

print(oct(15))
print(oct(0B11))
print(oct(0X10))

# 3. hex(): We can use hex() to convert from any base to hexa decimal, 0 to 9, a-f (both lower and upper cases are allowed)

print(hex(15))
print(hex(0B11))
print(hex(0o10))

0b1111
0b1001
0b10000
0o17
0o3
0o20
0xf
0x3
0x8

In [11]:
# 1. In Python the following data types are considered as Fundamental Data types
#  int
#  float
#  complex
#  bool
#  str

# All Fundamental Data types are immutable.i.e once we creates an object,we cannot perform any changes in that object. 
# If we are trying to change then with those changes a new object will be created. 
# This non-chageable behaviour is called immutability.

a=10
b=10
print(id(a))   # 2470927991312
print(id(b))   # 2470927991312
b=12
print(id(b))   # 2470927991376

# range Data Type: range Data Type represents a sequence of numbers.
        # The elements present in range Data type are not modifiable. i.e range Data type is immutable.

# frozenset Data Type: It is exactly same as set except that it is immutable.
        #Hence we cannot use add or remove functions.
    
# None Data Type: None means Nothing or No value associated.
            # If the value is not available,then to handle such type of cases None introduced.   
x=None
print(type(x))

2518747841040
2518747841040
2518747841104
<class 'NoneType'>

In [14]:
# Ternary Operator:
# Syntax:
# x = firstValue if condition else secondValue
# If condition is True then firstValue will be considered else secondValue will be considered.

a,b=10,20
x=30 if a<b else 40
print(x)

#----------------------------------------------

a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=a if a>b and a>c else b if b>c else c
print("Maximum Value:",max)

30
Enter First Number:12
Enter Second Number:13
Enter Third Number:12
Maximum Value: 13

In [ ]:
# P3 Python Operators (AA CL IMB):- 

# Operators are used to perform operations on variables and values.
# Python divides the operators in the following groups:

# Arithmetic operators :- used with numeric values to perform common mathematical operations:- (+, -, , /, %, //, *)
# Assignment operators :- used to assign values to variables =, x += 3 (x=x+3) likewise for -,*,/,%, |,& >>,<<,^ etc
# Comparison operators :- used to compare two values: (==, !=, >, <, >=, <=)
# Logical operators :- used to combine conditional statements:- (and, or, not)
# Identity operators :- used to compare the objects: (is , is not)
# Membership operators :- used to testing if a sequence is presented in an object: (in, not in)
# Bitwise operators :- used to comparing (binary) numbers( &, |, ^, ~ ) and or XOR
print(2+2)
print(4-2)
print(62) 
print(9/2)         # "/" division always returns a floating point number 
print(9//2)        # "//"division always returns a Int point number print
((4*2)**5)         # Power function = power raised to a power print
((3+4j)-(2+7j))    # complex numbers, Complex (Real and Imaginary) numbers are written with a "j" as the imaginary part 
print(11%3)        # Modulus

In [13]:
#P3 Calculator Program
# This function adds two numbers
def add(x, y):
    return x + y
# This function subtracts two numbers
def subtract(x, y):
    return x - y
# This function multiplies two numbers
def multiply(x, y):
    return x * y
# This function divides two numbers
def divide(x, y):
    return x / y
print("Select operation.")
print("+.Add")
print("-.Subtract")
print("*.Multiply")
print("/.Divide")

while True:
    # take input from the user
    Select = input("Enter choice(+,-,*,/): ")

    # check if choice is one of the four options
    if Select in ('+', '-', '*', '/'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if Select == '+':
            print(num1, "+", num2, "=", add(num1, num2))

        elif Select == '-':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif Select == '*':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif Select == '/':
            print(num1, "/", num2, "=", divide(num1, num2))

        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (Y/N): ")
        if next_calculation == "N" or "n" or "No" or "no":
            break
    else:
        print("Invalid Input")

Select operation.
+.Add
-.Subtract
*.Multiply
/.Divide
Enter choice(+,-,*,/): +
Enter first number: 12
Enter second number: 12
12.0 + 12.0 = 24.0
Let's do next calculation? (Y/N): no

In [16]:
# Mathematical Functions (math Module):- A Module is collection of functions, variables and classes etc.

import math
print(math.sqrt(16))
print(math.pi)

# We can create alias name by using as keyword.

# import math as m

# Once we create alias name, by using that we can access functions and variables of that module

import math as m
print(m.sqrt(16))    # 4.0
print(m.pi)          # 3.14


# important functions of math module:

# ceil(x)
# floor(x)
# pow(x,y)
# factorial(x)
# trunc(x)
# gcd(x,y)
# sin(x)
# cos(x)
# tan(x)

# important variables of math module:
# pi===>3.14
# e===>2.71
# inf ==>infinity
# nan ==>not a number

# Write a program to read 3 float numbers from the keyboard with , seperator and print their sum.
a,b,c= [float(x) for x in input("Enter 3 float numbers :").split(',')]
print("The Sum is :", a+b+c)


# eval():  eval Function take a String and evaluate the Result.

x = eval('10+20+30')
print(x)

y = eval(input('Enter Expression'))
print(y)

4.0
3.141592653589793
4.0
3.141592653589793
Enter 3 float numbers :1,2,3
The Sum is : 6.0
60
Enter Expression12/13
0.9230769230769231

In [5]:
#P4

x=4              # Variables do not need to be declared with any particular type
Y='Brain Works'  # Variable names are case-sensitive (y and Y are different variables)
z=5.2
x=6             # here is two value of x 4 & 6, but it will print the latest one x=6
myName="Amol"   # A variable can have a short name (like x and y) or a more descriptive name
                # A variable name must start with a letter (A to z) or the underscore character(_)
print(x)
print(Y)
print(type(x))
print(type(Y))
print(type(z))
myVaName='Amol'  # camel case: Each word, except the first, starts with a capital letter (mVN), pascal (MVN), snake (m_v_n)
print(myVaName)

6
Brain Works
<class 'int'>
<class 'str'>
<class 'float'>
Amol

In [6]:
#P5

x, y, z =('Brain','Works','Class') # Python allows you to assign values to multiple variables in one line.
                                   # Make sure the number of variables matches the number of values
print(x)
print(y)
print(z)

x=y=z= ('Brain')                 # assign the same value to multiple variables in one line
print(x)
print(y)
print(z)

Brain
Works
Class
Brain
Brain
Brain

In [3]:
#P6 (Unpacking :- you have a collection of values in a list, tuple etc.
                # Python allows you to extract the values into variables. This is called unpacking.

Traffic_Signal = ["Red", "Orange", "Green"]
R, O, G =Traffic_Signal
print(R)
print(O)
print(G)

# All variables extract into a list,tuple etc. is called as packing.
R="Red"
O="Orange"
G="Green"
J=True
Traffic_Signal=R,O,G,J
print(Traffic_Signal)

Red
Orange
Green
('Red', 'Orange', 'Green', True)

In [6]:
#P7 # Concatenation (combining strings)
                                      

x=("Python is")
y=("Object Orieanted Programming")
z=121
print(x,y,z)                           # output multiple variables, separated by a comma

x=("Python is ")                      # space after "is " and "Programming ", without them the result would be
y=("Object Orieanted Programming ")   # "Python isObject Orianted ProgrammingLanguage"
z=("Language")
print(x + y + z)                      # You can also use the + operator to output multiple variables
          # Note: when you try to combine a string and a number with the + operator, Python will give you an error:
                # The best way to output multiple variables in the print() function is to separate them with commas,
                # which even support different data types

Python is Object Orieanted Programming 121
Python is Object Orieanted Programming Language

In [25]:
# print(formatted string):- print("formatted string" %(variable list))

a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [9]:
#P8 Global Variables

    # Variables that are created outside of a function are known as global variables.
    # Global variables can be used by everyone, both inside of functions and outside.
    
    # "global keyword" allows you to modify the variable outside of the current scope.
    
    # If you create a variable with the same name inside a function, this variable will be local
     # (scope of limited in function )

k = 'English'
def my_function():
    k = "Marathi"
    print("I can talk", k)   # Local variable
my_function()
print("I can talk", k)       # Global variable

I can talk Marathi
I can talk English

In [11]:
#P9 Python Data Types(TNS MSBB):- type() :- Variables can store data of different types, and different types 
                                        # can do different things. It tells the machine how to interpret given value.
    
a = "Hello World"           #str      # Text Type
print(type(a))
b=20                        #int      #Numeric Type
print(type(b))
c=23.4                      #Float    #Numeric Type  # it also scientific numbers with an "e" to indicate the power of 10.
print(type(c))
d=5+3j                      #complex  #Numeric Type,  cannot convert complex numbers into another number type
print(type(d))
e=["Fish, Dog, Cat, Lion"]       #list      #Sequence Types
print(type(e))
f=("Fish"," Dog","Cat","Lion")   #tuple     #Sequence Types
print(type(f))
g=range(6)                       #range     #Sequence Types
print(type(g))
h={"name" : "John", "age" : 36}  #dict      #Mapping Type
print(type(h))
i={"Ram", "Sham", "Ganu"}        #Set       #Set Type
print(type(i))

i=set()                             #empty set       #Set Type
print(type(i))

k=True                           # Bool    #Boolean Type
print(type(k))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'set'>
<class 'bool'>

In [11]:
#P10 Random Number:- Import the random module/ math module, and display a random number/ math value.

import random
print(random.randrange(1000,9999))        # OTP

import math
print(math.floor(2.9))        # Highest Int
print(math.ceil(2.3))         # Lowest Int

import math as m
print(m.floor(2.1))
print(m.ceil(2.8))
print(m.pow(2,4))
print(m.isqrt(225))
print(m.sqrt(225))
print(m.pi)                  # Constant Value
print(math.e)                # Constant Value

5125
2
3
2
3
16.0
15
15.0
3.141592653589793
2.718281828459045

In [12]:
#P11  Strings are Arrays:- strings in Python are arrays of bytes representing unicode characters

x='Brain Works!'
print(x[0])
print(x[1])        # Square brackets can be used to access elements of the string
                     # 0 > 1 > 2 > 3 >4 > .... >n
                     # -1 <-2 <-3 <-4 <- .... <-n
print(x[11])
print(x[-1])
print(x[-7])       # Space also count for length
print(x[-8])
print(x[1:6])
print(x[-5:-1])
print(len(x))

B
r
!
!

n
rain
orks
12

In [17]:
#P12 :- Find index of character without space
str = "My name is amol"
x=str.replace(" ","")          # replace() method replaces a string with another string
print(x)
y= x.index("a")
print(y)

Mynameisamol
3

In [14]:
# P13 Check String

x= "India is my country"
print("India" in x)

if "India" in x:
    print("Yes, India is present")
else:
    print("Sorry, Indian is not present")

print(x.upper())             # upper() method returns the string in upper case
print(x.lower())             # lower() method returns the string in lower case

y=" My Name is Amol"
print(y.strip())             # strip() method removes any whitespace from the beginning or the end

print(x.split(" "))          # split() method splits the string into substrings if it finds instances of the separator

k="My Name is Amol {}"
Age=29                       # format() method takes unlimited number of arguments, and are placed into the
print(k.format(Age))         # respective placeholders {}

B = 3                    # index numbers {0} {1} {2}...{n} to be sure the arguments are placed in the correct placeholders
A = 7
R = 249.95
r1=34
r2=23.43
order = "I brought {} boll and {} apple for rupies {}"
print(order.format(B, A, R))

order = "I brought {1} apple for rupies {3} and {0} boll for rupies {2}"
print(order.format(B, A, r1, r2))

txt = "We are the so-called \"Vikings\" from the north."    # \ is use for ignore the special meaning of "
print(txt)

True
Yes, India is present
INDIA IS MY COUNTRY
india is my country
My Name is Amol
['India', 'is', 'my', 'country']
My Name is Amol 29
I brought 3 boll and 7 apple for rupies 249.95
I brought 7 apple for rupies 23.43 and 3 boll for rupies 34
We are the so-called "Vikings" from the north.

In [1]:
#P14

x=(1,2,3,4,5)
print(*x)                     # * Remove comma
print(*x, sep="")             # sep="" Remove Space
print(*x, sep="\n")           # \n new line

1 2 3 4 5
12345
1
2
3
4
5

In [22]:
#P15

x=('It\'s fine')               # ' \' ' (ignore the special meaning of ')
print(x)
y=("It's fine")
print(y)
z=("It's\t fine")              # \t Tab
print(z)
a=('c:\docs\new')              # \n New Line
print(a)
b=(r'c:\docs\new')             # r (ignore the special meaning of \n)
print(b)
c=("It's \b fine")             # \b backspace
print(c)
d=("It's\r fine")              # \r Form Feed
print(d)

It's fine
It's fine
It's	 fine
c:\docs
ew
c:\docs\new
It's  fine
 fine

In [9]:
#P17 Python String Accessing

x=[10,2,3,4,5,6,7,"amol"]
print(x[2])
print(x[-2])
print(x[::-2])  # ['amol', 6, 4, 2]

x[7]='aha'
print(x)

y=["sfaga"]
print(x+y)

x.append(10)
print(x)

z=[1,2,3,4,5,6,7,"amol"]
del z[5]
print(z)
x.extend(z)
print(x)

3
7
['amol', 6, 4, 2]
[10, 2, 3, 4, 5, 6, 7, 'aha']
[10, 2, 3, 4, 5, 6, 7, 'aha', 'sfaga']
[10, 2, 3, 4, 5, 6, 7, 'aha', 10]
[1, 2, 3, 4, 5, 7, 'amol']
[10, 2, 3, 4, 5, 6, 7, 'aha', 10, 1, 2, 3, 4, 5, 7, 'amol']

In [24]:
# Python String Methods
a="brAin worKS AMol" 
# print(a.capitalize())    (a.title())  # Converts the first character to upper case
# print(a.casefold())               # Converts string into lower case
# print(a.center(20,"$"))           # Returns a centered string
# print(a.count(A))	                # Returns the number of times a specified value occurs in a string

# print(a.find("M")) (a.index())  # Searches string for a specified value and returns the position of where it was found

#print(a.join())	    # Converts the elements of an iterable into a string

# print(a.lower())	# Converts a string into lower case

# print(a.rsplit())	# Splits the string at the specified separator, and returns a list
# print(mystr.swapcase())  # Swaps cases, lower case becomes upper case and vice versa
# print(a.split())	# Splits the string at the specified separator, and returns a list
# print(a.splitlines())	# Splits the string at line breaks and returns a list
mystr = "Hello:\n\nPython\r\nJava\nC++\n"
print(mystr.splitlines())


# print(a.upper())	# Converts a string into upper case
# print(a.zfill())	# Fills the string with a specified number of 0 values at the beginning

['Hello:', '', 'Python', 'Java', 'C++']

In [25]:
print(bool("Hello")) 
print(bool(15))
print(bool([1,2,3]))

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))


## Most Values are True
# Almost any value is evaluated to True if it has some sort of content.
# Any string is True, except empty strings.
# Any number is True, except 0.
# Any list, tuple, set, and dictionary are True, except empty ones.

True
True
True
False
False
False
False
False
False
False

In [26]:
## P18 LIST :- is a collection which is ordered and (Mutable) changeable. Allows duplicate members.
             # Lists are used to store multiple items in a single variable
             # Heterogeneous nature
        
## Creating a List

L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']    # [mixed type of values int, boolean and strings & Duplicates]
print("List with the use of Mixed Values: ")
print(L)
print(type(L))                     # Data type

## Knowing the size of List

L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
print(len(L))                      # [In list len consider only count of element, not consider space]

## Adding Elements to a List:
    # Using append() method:- To add only one item to the end of the list
L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
L.append(7)
L.append(17)
L.append('Amol')
print(L)
L1=[12,-1,"Sai"]
L.append(L1)
print(L)

    # Using insert() method:- The add of elements at the desired position
L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
L.insert(1,"om")
print(L)
L1=[12,-1,"Sai"]
L.insert(-7, L1)
print(L)

    # Using extend() method:- To append elements from another list to the current list
L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
L1=[12,-1,"Sai"]
L.extend(L1)
print(L)

List with the use of Mixed Values:
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python']
<class 'list'>
9
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python', 7, 17, 'Amol']
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python', 7, 17, 'Amol', [12, -1, 'Sai']]
[1, 'om', 2, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python']
[1, 'om', 2, [12, -1, 'Sai'], 'Brain', 4.3, 2, -6, 'Works', 6, 'Python']
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python', 12, -1, 'Sai']

In [27]:
## Accessing elements from the List:- In order to access the list items refer to the index number. [0,1,2,3..n]
                                        # The index must be an integer.
                                        # Nested lists are accessed using nested indexing.
L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
print(L[1])
print(L[0])          # Square brackets can be used to access elements
                     # 0 > 1 > 2 > 3 >4 > .... >n
                     # -1 <-2 <-3 <-4 <- .... <-n

print(L[-1])
print(L[-7])
print(L[-8])
print(L[1:6])
print(L[-5:-1])
print(L[5:])
print(L[:-1])
print(L[3::2])      # [3::2] start from index 3 and shift the +1 index
print(L[2::4])      # [2::4] start from index 2 and shift the +3 index
print(L[2::])      # [2::] start from index 2 and blank means shift the 0 index
print(L[::2])      # [::2] start from index 0 and shift the +1 index from LHSl
print(L[::-2])      # [::-2] start from index -n and shift the +1 index from RHS

print(L[::-1])      # [::-1] or reverse() function for reverse print
L.reverse()
print(L)

L=[[12,-1,"Sai"],[1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']]
print(L[0][1])     # -1               # Nested lists are accessed using nested indexing.
print(L[1][-7])    # Brain
print(L[1][-7:-2])  # ['Brain', 4.3, 2, -6, 'Works']

2
1
Python
Brain
2
[2, 'Brain', 4.3, 2, -6]
[2, -6, 'Works', 6]
[-6, 'Works', 6, 'Python']
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6]
[4.3, -6, 6]
['Brain', 'Works']
['Brain', 4.3, 2, -6, 'Works', 6, 'Python']
[1, 'Brain', 2, 'Works', 'Python']
['Python', 'Works', 2, 'Brain', 1]
['Python', 6, 'Works', -6, 2, 4.3, 'Brain', 2, 1]
['Python', 6, 'Works', -6, 2, 4.3, 'Brain', 2, 1]
-1
Brain
['Brain', 4.3, 2, -6, 'Works']

In [28]:
## Removing Elements from the List
                # Using remove() method:- removes the specified item
L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
L.remove(2)                 # 1. Removing elements from List using Remove() method
print(L)
k=[1,2,3,4,5,6,7,8,9]
for i in range(1, 7):       # 2. Removing elements(only value) from List using for loop method
    k.remove(i)
print(k)

                # Using pop() method:- Removes the element at the specified position
L = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
L.pop()                   # Index number not specified means remove the last element
print(L)
L.pop(2)
print(L)


# # Slicing of a List
k = [1, 2, 'Brain', 4.3, 2, -6,'Works', 6, 'Python']
slice_List=k[:]             # Printing all elements using slice operation:
print(slice_List)
slice_List = k[2:]           #Print elements from a  pre-defined point to end
print(slice_List)

[1, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python']
[7, 8, 9]
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6]
[1, 2, 4.3, 2, -6, 'Works', 6]
[1, 2, 'Brain', 4.3, 2, -6, 'Works', 6, 'Python']
['Brain', 4.3, 2, -6, 'Works', 6, 'Python']

In [29]:
## List Comprehension:- List comprehensions are used for creating new lists from other iterables
                        # like tuples, strings, arrays, lists, etc.
                        # newList = [ expression(element) for element in oldList if condition ]
# below list contains square of all odd and even numbers from range 1 to 20
odd_sqr=[x**2 for x in range(1, 21) if x%2==1]
print(odd_sqr)

even_sqr=[x**2 for x in range(1, 21) if x%2==0]
print(even_sqr)

Two_power=[2**x for x in range(1,21)]
print(Two_power)


# List Methods= sum(), count(), index(), min() and max() functions of List
L = [1, 2,5,8,7, -5,9.8,7 ,44.3,7]
print(sum(L))
print(L.count(7))
print(L.index(7,1,5))         #L.index(element[,start[,end]]) output is index number of element.
print(max(L))
print(min(L))

print(sorted(L))          #For ascending order  # Keep in mind that lowercase and uppercase letters may affect the sort.
                                                # It should be either int or str
L.sort(reverse=True)      #For descending order
print(L)

del L[4]                   #del list.[index]
print(L)
L.copy()                  # Return copy of list
print(L)
L.clear()                    #Removes all the elements from the list
print(L)


## combing lists with the help of zip() function
L1 = [5, 2, 90, 24, 10]
L2 = [6, 3, 91, 25, 12]
L3 = list(zip(L2,L1))
L4= list(zip(L1,L2))
print(L3)                         
print(L4)


# Customize Sort Function
# You can also customize your own function by using the keyword argument key = function.

# Sort the list based on how close the number is to 50:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]
86.1
3
4
44.3
-5
[-5, 1, 2, 5, 7, 7, 7, 8, 9.8, 44.3]
[44.3, 9.8, 8, 7, 7, 7, 5, 2, 1, -5]
[44.3, 9.8, 8, 7, 7, 5, 2, 1, -5]
[44.3, 9.8, 8, 7, 7, 5, 2, 1, -5]
[]
[(6, 5), (3, 2), (91, 90), (25, 24), (12, 10)]
[(5, 6), (2, 3), (90, 91), (24, 25), (10, 12)]
[50, 65, 23, 82, 100]

In [30]:
# P19 Tuple:-   # Tuples are used to store multiple items in a single variable.
                # A tuple is a collection which is ordered and unchangeable.
                # Tuples are written with round brackets. (parentheses)
                # Since tuples are immutable, they do not have a build-in append() method,
                   # but there are other ways to add items to a tuple.
                # Heterogeneous nature.
                
                # A tuple can also be created without using parentheses. It is called tuple packing.
X = "Yellow", 20, "Red"
print(type(X))      # <class 'tuple'>
print(X)            # ('Yellow', 20, 'Red')
print(type(X))      # <class 'tuple'>


x = (1, 2, 'Brain', 4.3, True, 2, -6,'Works', 6, 'Python')  # [mixed type of values int, boolean and strings & Duplicates]
print("Tuple with the use of Mixed Values: ")
print(x)
print(type(x))                     # Data type        
   
# 1. Change Tuple Values:- # you cannot change its values. Tuples are unchangeable, or immutable
                        # You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = (1, 2, 'Brain', 4.3, True, 2, -6,'Works', 6, 'Python')
y=list(x)
print(y)   # [1, 2, 'Brain', 4.3, True, 2, -6, 'Works', 6, 'Python']



y[2]="Add Ele"  # [1, 2, 'Add Ele', True, 2, -6, 'Works', 6, 'Python', '55']

x=tuple(y)
print(x)     # (1, 2, 'Add Ele', True, 2, -6, 'Works', 6, 'Python', '55')

        # or using append() , remove()

y.append("55")
y.remove(4.3)
print(y)
x=tuple(y)
print(x)     # (1, 2, 'Add Ele', True, 2, -6, 'Works', 6, 'Python', '55')

# 2. Add tuple to a tuple:- You are allowed to add tuples to tuples

x = (1, 2, 'Brain', 4.3, True, 2, -6,'Works', 6, 'Python')
y=(12,)      # Note: When creating a tuple with only one item, remember to include a comma after the item, 
                   # otherwise it will not be identified as a tuple.
x+=y
print(x)

# 3. Asterisk * Constructor:- If the number of variables is less than the number of values, you can add an * 

t=("Red","Green","yellow","White")
(R,G,*Y)=t
print(R)
print(G)
print(Y)

<class 'tuple'>
('Yellow', 20, 'Red')
<class 'tuple'>
Tuple with the use of Mixed Values:
(1, 2, 'Brain', 4.3, True, 2, -6, 'Works', 6, 'Python')
<class 'tuple'>
[1, 2, 'Brain', 4.3, True, 2, -6, 'Works', 6, 'Python']
(1, 2, 'Add Ele', 4.3, True, 2, -6, 'Works', 6, 'Python')
[1, 2, 'Add Ele', True, 2, -6, 'Works', 6, 'Python', '55']
(1, 2, 'Add Ele', True, 2, -6, 'Works', 6, 'Python', '55')
(1, 2, 'Brain', 4.3, True, 2, -6, 'Works', 6, 'Python', 12)
Red
Green
['yellow', 'White']

In [32]:
# 4. Tuple Methods:- count() and index()
x = (1, 2, 'Brain', 4.3, True, 2, -6,'Works', 6, 'Python')
print(x.count(2))               # Returns the number of times a specified value occurs in a tuple
print(x.index("Brain"))


# 5. Iterating a Tuple:- # We can iterate a tuple using a for loop.

x = (1, 2, 3, "Hello", [4, 8, 16])
print(type(x))
for i in x:
    print(i,end=" ")
print()
              
for i in range(-6, 0):        # iterate a tuple using negative indexing
    print(i,end=" ")   
print()

2
2
<class 'tuple'>
1 2 3 Hello [4, 8, 16]
-6 -5 -4 -3 -2 -1

In [37]:
# 6. Accessing items of a Tuple:- 
            # Using indexing, we can access any item from a tuple using its index number.(x[1])
            # Using slicing, we can access a range of items from a tuple.  (x[1:2:2])

# 7. Find Element within a indexing range             
k= (1, 2, 3, "Hello", [4, 8, 16])
k=k.index("Hello",0,4)
print(k)

# 8. Copying a tuple
x=(1,2,3,4,5,6)
y=x
print(y)

Z=(x+y)
print(Z)

3
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [41]:
# 9. Nested tuples

X= ((20, 40, 60), (10, 30, 50), "Python")

# access the first item of the third tuple
print(X[2][0])  # P

# iterate a nested tuple
for i in X:
    print("tuple", i, "elements")
    for j in i:
        print(j, end=", ")
    print("\n")
    
# 10. Use built-in functions with tuple: We can’t find the max() and min() for a heterogeneous tuple. 
                                         # It will throw Type Error

tuple1 = ('xyz', 'zara', 'abc')
# The Maximum value in a string tuple
print(max(tuple1))  

# The minimum value in a string tuple
print(min(tuple1))

tuple2 = (11, 22, 10, 4)
# The Maximum value in a integer tuple
print(max(tuple2))

# The minimum value in a integer tuple
print(min(tuple2))

print(tuple2*5)

P
tuple (20, 40, 60) elements
20, 40, 60,

tuple (10, 30, 50) elements
10, 30, 50,

tuple Python elements
P, y, t, h, o, n,

zara
abc
22
4
(11, 22, 10, 4, 11, 22, 10, 4, 11, 22, 10, 4, 11, 22, 10, 4, 11, 22, 10, 4)

In [45]:
# Set:- Set is a collection of elements (Or objects) that contains no duplicate elements.
        # A set is a collection which is unordered, mutable, and Hetrogenous nature.
        # Sets are written with curly brackets.
        
#1. Creating a Set
x = {'Mark',True,'Jessa', 25, 75.25}
print(x)
print(type(x))

#2. Create a set from a list 
x = [20, 30, 20, 30, 50, 30]
x=set(x)
print(x)

# The set() Constructor:- Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)     # {'apple', 'cherry', 'banana'}
print(type(thisset))

{True, 25, 'Jessa', 75.25, 'Mark'}
<class 'set'>
{50, 20, 30}
{'apple', 'banana', 'cherry'}
<class 'set'>

In [46]:
#3. Accessing items of a set

x = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
for i in x:
    print(i)

#4. Checking if an item exists in Set    
x= {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
if 'Harry Potter' in x:
    print("Book exists in the x")
else:
    print("Book doesn't exist in the x")
    
print("amol" not in x) 
print("amol" in x)

Harry Potter
Atlas Shrugged
Angels and Demons
Book exists in the x
True
False

In [47]:
#5. Adding items to a Set:- Set can’t be modified. We can add new items to the set using the following two ways.

                 # The add() method: The add() method is used to add one item to the set.
                # Using update() Method: The update() method is used to multiple items to the Set.
        
x={"amol",True,1,34.5,444,False,"BW"}
x.add("Sagar")
print(x)

x={"amol",True,1,34.5,444,False,"BW"}
x.update(["Ganu","Sap","DJ"])
print(x)

#6. Removing item(s) from a set
        # remove()  To remove a single item from a set.
        # discard() To remove a single item that may or may not be present in the set.
        # pop()     To remove any random item from a set
        # clear()   To remove all items from the Set. The output will be an empty set
        # del set   Delete the entire set
x = {'red', 'orange', 'yellow', 'white', 'black'}
x.remove("yellow")
print(x)

x.discard("Amol")
print(x)

x.discard("red")
print(x)

x.pop()
print(x)

x.clear()
print(x)

{False, True, 34.5, 'amol', 'BW', 444, 'Sagar'}
{False, True, 'amol', 'Sap', 'BW', 'DJ', 34.5, 'Ganu', 444}
{'white', 'black', 'orange', 'red'}
{'white', 'black', 'orange', 'red'}
{'white', 'black', 'orange'}
{'black', 'orange'}
set()

In [52]:
#7. Set Operations:-

        # Union() :- |         All the items of both Sets will be returned. Only the duplicate items will be dropped.
        # Intersection() :- &  Only the items common in both sets will be returned.    
        # Difference() :-   _  Return the unique elements in the first set which is not in the second set.
        # Symmetric_Difference() :-  ^   Return the elements of both sets which is not common.
    
a={1,2,3,4,5,6}
b={4,5,6,7,8,9,10}
y=a|b      # y=a.union(b)    # Join Two Sets
print(y)     # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

y=a&b      # y=a.intersection(b)  # intersection() will not update the original set
print(y)         # {4,5,6}        #  but intersection_update() will update the original set with only the common elements.

a.intersection_update(b)
print(a)      # {4,5,6}

a={1,2,3,4,5,6}
b={4,5,6,7,8,9,10}
print(a-b)      # print(a.difference(b))   # {1, 2, 3}

y=a^b      # y=a.symmetric_difference(b)    
print(y)  


# 10. Copying a Set:-
a={1,2,3,4,5,6}
b=a.copy()
c=set(a)
e=a
print(b)
print(c)
print(e)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [53]:
#11. Subset and Superset
                # In Python, we can find whether a set is a subset or superset of another set. 
                # We need to use the set methods issubset() and issuperset.
a={1,2,3,4,5,6}
b={4,5,6}
print(a.issubset(b))
print(b.issubset(a))
print(a.issuperset(b))
print(b.issuperset(a))
        
#12. Sort the set:-A set is an unordered collection of data items, so there is no point n sorting it. 
                  # If you still want to sort it using the sorted() method but this method will return the list
x = {20, 4, 6, 10, 8, 15}
y= sorted(x)
print(y)
z = set(y)
print(z)


#13. max() and min():-Sset with strings, it will compute the maximum/minimum value based on the ASCII Code. 
a={1,2,5,9,6,7,7.1}
b={"Amol","Sagar","zara"}
print(max(a))
print(min(b))

False
True
True
False
[4, 6, 8, 10, 15, 20]
{4, 6, 8, 10, 15, 20}
9
Amol

In [54]:
#14. Frozen Set:- frozenset  is an immutable set. Frozen Set is thus an unordered collection of immutable unique items.
x= ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
# create a frozenset
f_set = frozenset(x)
print(f_set)
                    # All the mathematical operations performed in a set is possible with the frozenset. 
                    # We can use union(), intersection(), difference(), and symmetric_difference() on a frozenset as well.

                    # But we can’t use the intersection_update(), difference_update(), and symmetric_difference_update() 
                    # on frozenset as it is immutable.

# 15. Set comprehension:- Set comprehension is one way of creating a Set with iterables generated in a for loop 
                             # and also provides options to add only the items that satisfy a particular condition.
    
    # outputSet = {expression(variable) for variable in inputSet [if variable condition1][if variable condition2]..}
    
odd_sqr= {x**2 for x in range(1, 10) if x % 2 == 0}
print(odd_sqr)

even_sqr=[x**2 for x in range(1, 11) if x%2!=1]
print(even_sqr)

Two_power=[2**x for x in range(1,12)]
print(Two_power)

frozenset({'violet', 'orange', 'blue', 'indigo', 'green', 'yellow', 'red'})
{16, 64, 4, 36}
[4, 16, 36, 64, 100]
[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]

In [57]:
# Dictionaries in Python:- Dictionaries are unordered collections of unique values stored in (Key-Value) pairs.
                      # Dictionaries are written with curly brackets, do not allow duplicates.
                     # A dictionary value can be of any type, and duplicates are allowed in that.
                    # Keys in the dictionary must be unique and of immutable types like string, numbers, or tuples.
    
# create a dictionary using {}
x= {"name": "Amol", "country": "India", "Mobile": 1178}
print(x)

# create a dictionary using dict()
x = dict({"name": "Amol", "country": "India", "Mobile": 1178})
print(x)


# create a dictionary from sequence having each item as a pair
x = dict([("name", "Mark"), ("country", "India"), ("Mobile", 1178)])
print(x)

# create dictionary with mixed keys keys
# first key is string and second is an integer
x = {"name": "Amol", 10: "Mobile"}
print(x)

# create dictionary with value as a list
x = {"name": "Amol", "Mobiles": [1178, 2563, 4569]}
print(x)

{'name': 'Amol', 'country': 'India', 'Mobile': 1178}
{'name': 'Amol', 'country': 'India', 'Mobile': 1178}
{'name': 'Mark', 'country': 'India', 'Mobile': 1178}
{'name': 'Amol', 10: 'Mobile'}
{'name': 'Amol', 'Mobiles': [1178, 2563, 4569]}

In [58]:
# 2. Accessing elements of a dictionary:- 1. Retrieve value using the key name inside the [] square brackets
                                # 2. Retrieve value by passing key name as a parameter to the get() method of a dictionary.
x= {"name": "Amol", "country": "India", "Mobile": 1178}
print(x['name'])
print(x.get('Mobile'))


# 3. Get all keys and values:-

x = {"name": "Amol", "country": "India", "Mobile": 1178}

# Get all keys
print(x.keys())
print(type(x.keys()))

# Get all values
print(x.values())
print(type(x.values()))  

# Get all key-value pair
print(x.items())
print(type(x.items()))

Amol
1178
dict_keys(['name', 'country', 'Mobile'])
<class 'dict_keys'>
dict_values(['Amol', 'India', 1178])
<class 'dict_values'>
dict_items([('name', 'Amol'), ('country', 'India'), ('Mobile', 1178)])
<class 'dict_items'>

In [59]:
#4. Iterating a dictionary:- We can iterate through a dictionary using a for-loop 
                            # and access the individual keys and their corresponding values.
    
x = {"name": "Amol", "country": "India", "Mobile": 1178}
for key in x:
    print(key, ':', x[key])

# using items() method
for key_value in x.items():
    print(key_value[0], key_value[1])
    
print(len(x))        # length


# 5. Adding items to the dictionary and modify the values of the existing dictionary keys:- 

x = {"name": "Amol", "country": "India", "Mobile": 1178}
x["weight"] = 71
print(x)                  # {'name': 'Amol', 'country': 'India', 'Mobile': 1178, 'weight': 71}
x["name"]= "AMOL"     # modify
print(x)              # {'name': 'AMOL', 'country': 'India', 'Mobile': 1178, 'weight': 71}

x.update({"height": 6.2})
print(x)              # {'name': 'AMOL', 'country': 'India', 'Mobile': 1178, 'weight': 71, 'height': 6.2}

x.update({"country": "INDIA"})  # modify
print(x)               # {'name': 'AMOL', 'country': 'INDIA', 'Mobile': 1178, 'weight': 71, 'height': 6.2}

x.update({"weight": 71, "height": 6.2})
print(x)                 # {'name': 'AMOL', 'country': 'INDIA', 'Mobile': 1178, 'weight': 71, 'height': 6.2}

# pass new keys as as list of tuple
x.update([("city", "Pune"), ("company", "XYZ",)])
print(x)

name : Amol
country : India
Mobile : 1178
name Amol
country India
Mobile 1178
3
{'name': 'Amol', 'country': 'India', 'Mobile': 1178, 'weight': 71}
{'name': 'AMOL', 'country': 'India', 'Mobile': 1178, 'weight': 71}
{'name': 'AMOL', 'country': 'India', 'Mobile': 1178, 'weight': 71, 'height': 6.2}
{'name': 'AMOL', 'country': 'INDIA', 'Mobile': 1178, 'weight': 71, 'height': 6.2}
{'name': 'AMOL', 'country': 'INDIA', 'Mobile': 1178, 'weight': 71, 'height': 6.2}
{'name': 'AMOL', 'country': 'INDIA', 'Mobile': 1178, 'weight': 71, 'height': 6.2, 'city': 'Pune', 'company': 'XYZ'}

In [60]:
# 6. Removing items from the dictionary:- 
x = {"name": "Amol", "country": "India", "Mobile": 1178}
deleted_item = x.popitem()
print(deleted_item)
print(x)

x = {"name": "Amol", "country": "India", "Mobile": 1178}
del x["name"]
print(x)

x.clear()
print(x)

del x


# 7. Checking if a key exists:-
x = {"name": "Amol", "country": "India", "Mobile": 1178}
key_name = 'Mobile'
if key_name in x.keys():
    print("Mobile number is", x[key_name])
else:
    print("Key not found")

('Mobile', 1178)
{'name': 'Amol', 'country': 'India'}
{'country': 'India', 'Mobile': 1178}
{}
Mobile number is 1178

In [61]:
# 8. Join two dictionary:-We can add two dictionaries using the update() method or unpacking arbitrary keywords operator **

dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Olivia': 66}
dict1.update(dict2)
print(dict1)

K = {'Aadya': 1, 'Arul': 2, }
L = {'Harry': 5, 'Olivia': 6}
M = {'Harry': 7, 'Perry': 9}

# join three dictionaries 
Z = {**K,**L,**M}
print(Z)


# 10. Copy a Dictionary :- # Using copy() method.
                            # Using the dict() constructor
dict1 = {'Jessa': 70, 'Emma': 55}

# Copy dictionary using copy() method
dict2 = dict1.copy()
print(dict2)

# Copy dictionary using dict() constructor
dict3 = dict(dict1)
print(dict3)

# Copy dictionary using "=" operator
dict4=dict1
print(dict4)

{'Jessa': 70, 'Arul': 80, 'Emma': 55, 'Kelly': 68, 'Harry': 50, 'Olivia': 66}
{'Aadya': 1, 'Arul': 2, 'Harry': 7, 'Olivia': 6, 'Perry': 9}
{'Jessa': 70, 'Emma': 55}
{'Jessa': 70, 'Emma': 55}
{'Jessa': 70, 'Emma': 55}

In [62]:
# 11. Nested dictionary:-  It is a collection of many dictionaries in one dictionary.

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)      # {'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 
#                             'child3': {'name': 'Linus', 'year': 2011}}

# 12. Sort dictionary:-

dict1 = {'c': 45, 'b': 95, 'a': 35}
# sorting dictionary by keys
print(sorted(dict1.items()))

# sort dict eys
print(sorted(dict1))

# sort dictionary values
print(sorted(dict1.values()))

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
[('a', 35), ('b', 95), ('c', 45)]
['a', 'b', 'c']
[35, 45, 95]

In [63]:
# 13. Dictionary comprehension:-

numbers = [1, 3, 5, 2, 8]
even_squares = {x: x ** 2 for x in numbers if x % 2 == 0}
print(even_squares)


# 14. max() and min():-

dict = {1:'aaa',2:'bbb',3:'AAA'}
print('Maximum Key',max(dict))
print('Minimum Key',min(dict))


# Dictionary Methods
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()		Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary

{2: 4, 8: 64}
Maximum Key 3
Minimum Key 1

In [ ]:
# Python Control Flow Statements and Loops:-
                # The flow control statements are divided into three categories
       # Conditional statements:- (if, if-else,if-elif-else,nestedif-else):- In Python, condition statements act 
                # depending on whether a given condition is true or false.
        
        # Iterative statements:-    (for, while)  :- In Python, iterative statements allow us to 
                # execute a block of code repeatedly as long as the condition is True. We also call it a loop statements.
            
        # Transfer/ loop control statements:-(continue,break,pass):- transfer statements are used to alter the program’s 
                # way of execution in a certain manner.
                 
        # The break statement is used is used to terminate the loop
              # Note: If the break statement is used inside a nested loop (loop inside another loop), 
                         #it will terminate the innermost loop.
                
        # The continue statement is used to skip the current iteration and continue with the next iteration
        
        # A pass statement is a Python null statement.Nothing happens when the pass statement is executed.
        
        
# Elif:- The elif keyword is python way of saying "if the previous conditions were not true, then try this condition".    
# Else:- The else keyword catches anything which isn't caught by the previous conditions.
# Nested If:- You can have if statements inside if statements, this is called nested if statements.
# Nested if-else statement:-
                # In Python, the nested if-else statement is an if statement inside another if-else statement. 
                # It is allowed in Python to put any number of if statements in another if statement.

In [64]:
# Python for loop:- We use a for loop when we want to repeat a code block a fixed number of times.
                    # such as a list, string, tuple, other iterable objects such as range.
    
        # As opposed to while loops that execute until a condition is true, for loops are executed a fixed number of times,
                   #you need to know how many times to repeat the code.
            
        # An unknown number of times:_ For example, Ask the user to guess the lucky number. 
                   # You don’t know how many attempts the user will need to guess correctly. It can be 1, 20, or
                   # maybe indefinite. In such cases, use a while loop.
        # Fixed number of times:- Print the multiplication table of 2. In this case, you know how many iterations you need.
                  # Here you need 10 iterations. In such a case use for loop.
        
        # Syntax of for loop:- 
    
#             for i in range/sequencee:
#                 statement 1
#                 statement 2
#                 statement n

# Calculate the average of list of numbers:- 

sum=0
x=[1,2,4,5,7,8,9]
for i in x:
    sum=sum+i
print(sum)
y=len(x)
print(y)

avrage=sum/y
print(avrage)

36
7
5.142857142857143

In [66]:
# If-else in for loop:- 
# Print all even and odd numbers:-
for i in range(1,11):
    if i%2==0:
        print("even number",i)
    else:
        print("odd number",i)      
        
# Reverse for loop:-There are three ways to iterating the for loop backward
                        # Reverse for loop using range()
                        # Reverse for loop using the reversed() function        
list1 = [10, 20, 30, 40]
for num in reversed(list1):
    print(num)

x=5    
for x in (range(x, -1, -1)):
    print(x,end=" ")

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
40
30
20
10
5 4 3 2 1 0

In [67]:
# Print Multiplication table of a first 5 numbers

for i in range(1, 6):
    print('Multiplication table of:', i)
    count = 1
    # inner loop to print multiplication table of current number
    while count <=10:
        print(i * count, end=' ')
        count = count + 1
    print('\n')    
    
 #--------------------------------


# Printing the elements of the list with its index number using the range() function:-

numbers = [1, 2, 4, 6, 8]
size = len(numbers)
for i in range(size):
    print('Index:', i, " ", 'Value:', numbers[i])

Multiplication table of: 1
1 2 3 4 5 6 7 8 9 10

Multiplication table of: 2
2 4 6 8 10 12 14 16 18 20

Multiplication table of: 3
3 6 9 12 15 18 21 24 27 30

Multiplication table of: 4
4 8 12 16 20 24 28 32 36 40

Multiplication table of: 5
5 10 15 20 25 30 35 40 45 50

Index: 0   Value: 1
Index: 1   Value: 2
Index: 2   Value: 4
Index: 3   Value: 6
Index: 4   Value: 8

In [77]:
# Iterate String using for loop:-
# Example 1: Access all characters of a string

name = "Kamal"
for i in name:
    print(i, end=' ')
print()

[print(i) for i in name]    # comprehension
    
# Example 2: Iterate string in reverse order

name = "Kamal"
for i in name[::-1]:
    print(i, end=' ')
print("\n")    
    
#--------------------------------

name ="Kamal"
str=" "
for i in name:
    str=i+str
print(str)

K a m a l
K
a
m
a
l
l a m a K

lamaK

In [1]:
# while loop:- The while loop statement repeatedly executes a code block while a particular condition is true.
             # When the condition becomes false, execution comes out of the loop immediately, 
             # and the first statement after the while loop is executed.

x = 1
# condition: Run loop till x is less than 3
while x < 3:
    print(x)
    x = x + 1   # Note: The loop with continuing forever if you forgot to increment the counter.
    
# Example 1: Check how many times a given number can be divided by 3 before it is less than or equal to 10.
x=0
number=180
while number > 10:
    number=number/3
    x=x+1
print("Total iteration required",x)    


# Example 2: Assure proper input from user
    
number = int(input('Enter any number between 100 and 500 '))
# number greater than 100 and less than 500
while number < 100 or number > 500:
    print('Incorrect number, Please enter correct number:')
    number = int(input('Enter a Number between 100 and 500 '))
else:
    print("Given Number is correct", number)
    

# Example 3: Print even and odd numbers between 1 to the entered number.    
n=int(input("enter number"))
while n>1:
    if n%2==0:
        print(n,"is even number")
    else:
        print(n,"is odd number")
    n=n-1
    
# Reverse while loop:-

i = 10
while i >= 0:
    print(i, end=' ')
    i = i - 1

1
2
Total iteration required 3
Enter any number between 100 and 500 120
Given Number is correct 120
enter number12
12 is even number
11 is odd number
10 is even number
9 is odd number
8 is even number
7 is odd number
6 is even number
5 is odd number
4 is even number
3 is odd number
2 is even number
10 9 8 7 6 5 4 3 2 1 0

In [80]:
# vowel and consonant

a=input("name:- ")
v=0
c=0
for i in a:
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        v=v+1
        
    else:
        c=c+1
print('T v:-', v)
print('T v:-', c)

name:- Amol
T v:- 2
T v:- 2

In [84]:
# print the vowels only and print the albhabets of string without vowels

a=input("name:- ")
v=('a' , 'e' , 'i' , 'o' , 'u', 'A' , 'E' , 'I' , 'O' , 'U')

print([i for i in a if i in v])
print([i for i in a if i not in v])

name:- Amol
['A', 'o']
['m', 'l']

In [6]:
# string palindrom

x="naman"
print(x[::-1])
if (x==x[::-1]):
    
    print("This string is palindrom")
else:
    print("This string is not palindrom")

naman
This string is palindrom

In [8]:
# Making numerical lists:- Squares
A=[]
for x in range(1,10):

    A.append(x**2)
print("A is equal to:-", A)

B=[]
for x in range(1,10):

    B.append(x**2)
print("B is equal to:-", B)

A is equal to:- [1, 4, 9, 16, 25, 36, 49, 64, 81]
B is equal to:- [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
# while loop repeats a block of code as long as a certain condition is true. 
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [13]:
#Using a loop to generate a list of square numbers 

squares = []
for x in range(1, 11): 
    i = x**2 
    squares.append(i)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# Prime Number:- Which divisibal by 1 and itself.

low=int(input("Enter low num"))
up=int(input("Enter up num"))
for num in range(low,up):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)

Enter low num5
Enter up num15
5
7
11
13

In [26]:
# Example: Python code to create a list of tuples by forming a list of tuples


# create a list with name
name = ['sravan', 'ojaswi', 'bobby', 'rohith', 'gnanesh']
  
# zip the two lists using iter() function
data = [x for x in zip(*[iter(name)])]
  
# display data
print(data)

[('sravan',), ('ojaswi',), ('bobby',), ('rohith',), ('gnanesh',)]

In [28]:
#Check weather the string is binary or not
x="111"
y=set(x)
count=0
for i in y:
    if i=='0' or i=='1':
        count=count+1   
    else:
        print("String is not binary")
        break

if count==len(y):
    print("the string is binary")

the string is binary

In [54]:
n=5

for R in range(n):
    for C in range(R+1):
        print(" ",end=" ")
    for C in range(n-R):
        print("*",end=" ") 
    for C in range(n-R-1):
        print("*",end=" ")    
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *